<aside class="sidebar">
    <div class="genesis-logo"
         onclick="location.href='/'">
        GENESIS
    </div>
{% include "templates_v3/dashboard/input_form.html" %}
    <div class="sidebar-divider"></div>
    <div class="system-gateway">
        <div class="gateway-title">
            SYSTEM_GATEWAY
        </div>
        <div class="gateway-grid">
            <div class="gateway-tile"
                 onclick="location.href='/'">
                <div class="gateway-node">
                    NODE_01
                </div>
                <div class="gateway-name">
                    HR_INTEL
                </div>
            </div>
            <div class="gateway-tile"
                 onclick="location.href='/lila'">
                <div class="gateway-node">
                    NODE_02
                </div>
                <div class="gateway-name">
                    LEELA
                </div>
            </div>
            <div class="gateway-tile"
                 onclick="location.href='/profile_nexus'">
                <div class="gateway-node">
                    NODE_03
                </div>
                <div class="gateway-name">
                    PROFILE
                </div>
            </div>
            <div class="gateway-tile"
                 onclick="location.href='/initiation'">
                <div class="gateway-node">
                    NODE_04
                </div>
                <div class="gateway-name">
                    INITIATION
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-spacer"></div>
    <div class="system-clock">
        <div id="clock">
            00:00:00
        </div>
        <div class="kernel-info">
            GEN_CORE_V3
        </div>
    </div>
</aside>