/*
═══════════════════════════════════════════════════════════════════════
GENESIS®
Variables
BUILD 0300

═══════════════════════════════════════════════════════════════════════
*/

:root{

/*==============================================================*/
/* COLORS */
/*==============================================================*/
--gen-black:#090B0F;
--gen-bg:#0F141B;
--gen-bg-2:#141C25;
--gen-bg-3:#18222D;
--gen-panel:#1A2431;
--gen-panel-hover:#223041;
--gen-border:#273445;
--gen-border-light:#334559;
/*==============================================================*/
--gen-green:#46FFB2;
--gen-green-soft:#79FFC8;
--gen-green-dark:#24D98B;
/*==============================================================*/
--gen-blue:#53B8FF;
--gen-orange:#FFBC57;
--gen-red:#FF7070;
/*==============================================================*/
--text:#F2F5F7;
--text-soft:#CED6DC;
--text-muted:#8B9CA8;
/*==============================================================*/
/* SHADOW */
/*==============================================================*/
--shadow-sm:
0 2px 10px rgba(0,0,0,.18);

--shadow:
0 12px 40px rgba(0,0,0,.30);

--shadow-lg:
0 24px 80px rgba(0,0,0,.42);

/*==============================================================*/

--radius-xs:8px;
--radius-sm:12px;
--radius:18px;
--radius-lg:24px;

/*==============================================================*/
--speed:.25s;
--speed-slow:.45s;
}