<div class="gen-grid gen-grid-4">

    {% include "widgets/dashboard/platform_status.html" %}
    {% include "widgets/dashboard/runtime_status.html" %}
    {% include "widgets/dashboard/services_status.html" %}
    {% include "widgets/dashboard/workspace_status.html" %}

</div>

<div class="gen-grid gen-grid-4">

    {% include "widgets/dashboard/human_summary.html" %}
    {% include "widgets/dashboard/knowledge_summary.html" %}
    {% include "widgets/dashboard/graph_summary.html" %}
    {% include "widgets/dashboard/ai_summary.html" %}

</div>

<div class="gen-grid gen-grid-3">

    {% include "widgets/dashboard/activity_feed.html" %}
    {% include "widgets/dashboard/notifications.html" %}
    {% include "widgets/dashboard/quick_actions.html" %}

</div>