<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>
    Genesis HR® | Intelligence Systems
</title>

<link href="https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&family=Inter:wght@300;400;600;700&family=Cinzel:wght@700&family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css_v3/base.css') }}">