<div class="gen-card">
   <div class="gen-card-header">
      Recommendation Feed
   </div>
   <div class="feed-item">
      📘 Read
      <b>
      Thinking in Systems
      </b>
   </div>
   <div class="feed-item">
      🏃 Sport
      <b>
      Swimming
      </b>
   </div>
   <div class="feed-item">
      🧩 Skill
      <b>
      Strategic Planning
      </b>
   </div>
   <div class="feed-item">
      🎯 Habit
      <b>
      Daily Reflection
      </b>
   </div>
   <div class="feed-item">
      💼 Career
      <b>
      Program Manager
      </b>
   </div>
</div>