<div class="gen-card">
   <div class="gen-card-header">
      Top Competencies
   </div>
   <div class="gen-progress">
      <div class="label">
         Leadership
      </div>
      <div class="progress">
         <div class="fill" style="width:92%"></div>
      </div>
   </div>
   <div class="gen-progress">
      <div class="label">
         Strategy
      </div>
      <div class="progress">
         <div class="fill" style="width:88%"></div>
      </div>
   </div>
   <div class="gen-progress">
      <div class="label">
         Systems Thinking
      </div>
      <div class="progress">
         <div class="fill" style="width:85%"></div>
      </div>
   </div>
</div>