.gen-grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.gen-grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

@media(max-width:1300px) {
	.gen-grid-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width:900px) {
	.gen-grid-2,
	.gen-grid-4 {
		grid-template-columns: 1fr;
	}
}